<div class="page-header">
  <h2>Change your password</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal", :role => "form" }) do |f| %>

  <%= devise_error_messages! %>

  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password", :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password, :class => "form-control", :placeholder => "Enter your new password" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm new password" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Change my password</button>
    </div>
  </div>
<% end %>

<div class="row top48">
  <div class="col-sm-offset-2 col-sm-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
