<h1>Users</h1>

<table class="sortable">
  <thead>
    <tr>
      <th><%= sortable "id", %></th>
      <th><%= sortable "email", %></th>
      <th><%= sortable "created_at", "Signed up" %></th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to(user.email, admin_user_path(user)) %></td>
      <td><%= user.created_at %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
