<div class="page-header">
  <h2><%= @user.email %></h2>
</div>

<table class="table table-bordered">
  <tr>
    <td>ID</td>
    <td><%= @user.id %></td>
  </tr>

  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
  <td>Sign in count</td>
  <td><%= @user.sign_in_count %></td>
  </tr>

  <tr>
    <td>Last sign in at</td>
    <td><%= l( @user.last_sign_in_at, :format => :long ) %></td>
  </tr>

  <tr>
    <td>Last sign in IP</td>
    <td><%= @user.last_sign_in_ip %></td>
  </tr>

  <tr>
    <td>Created at</td>
    <td><%= l( @user.created_at, :format => :long ) %></td>
  </tr>

  <tr>
    <td>Updated at</td>
    <td><%= l( @user.updated_at, :format => :long ) %></td>
  </tr>

  <tr>
    <td>Actions</td>
    <td>
      <%= link_to("Edit", edit_admin_user_path(@user), :class => "btn btn-default") %>
      <%= link_to("Destroy", admin_user_path(@user), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => "btn btn-danger btn-xs") %>
    </td>
  </tr>
</table>
