<!DOCTYPE html>
<html>
<head>
  <title>Base Application - Admin Dashboard</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="container">

    <div class="helpNav">
      <a href="/">← Homepage </a>
    </div>

    <%= render "layouts/admin/main_nav" if current_user.admin? %>

    <% if notice %>
      <p id="flash_notice" class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p id="flash_alert" class="alert"><%= alert %></p>
    <% end %>


    <%= yield %>
  </div>

</body>
</html>

